header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 30px;
    text-align: center; /* add this to center the search area */
  }
  
  .search-input {
    background-color: #f9f7fe;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    padding: 10px;
    width: 30%;
    border-radius: 6px;
    /* remove margin-left and margin-right, add display: inline-block */
    display: inline-block;
  }
  
  .search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #885df1;
    color: white;
    border: none;
    padding: 15px;
    line-height: 0.25;
    border-radius: 5px;
    width: 10%;
    /* add display: inline-block */
    display: inline-block;
  }